/* 字体名称有空格的或者是有汉字的需要用引号包起来，否则可以不写引号 */
h3 {
  font-family: "宋体";
}

/* 可以指定多个字体，之间用逗号隔开，字体用单引号双引号都是可以的 */
/* 多个字体兼容性比较好，浏览器按顺序一个一个找有没有装过这个字体，一直往后找 */
h3 {
  font-family: "微软雅黑", "Microsoft Yahei";
}

/* 字体大类：font-family指定一个字体类，这个大类里面可能包含好几个字体，选择了字体类的意思是说浏览器帮我选一个这个类的字体，具体用那种，浏览器说了算 */
h3 {
  /* font-family: serif; 这个是衬线字体，字的横竖笔画容易多出几个头，叫衬线 */
  /* font-family: sans-serif; 这个是非衬线字体，字的横竖笔画干净利落，没有很多小头冒出来 */
  /* font-family: monospace; 这个是等宽字体，每个字母，汉字（汉字本来就是等宽的）都是等宽的 */

  font-family: 'Courier New', Courier, monospace;
  /* 优先使用Courier New，没有就用Courier，还是没有就用最后一个 */
}

/* 那么本地的字体都放在哪呢：C:/Windows/Fonts */
/* 字体文件的后缀名是.ttf */

/* 如果就是想让用户用我们指定的字体呢：@font-face可以将我们服务器中的字体下载给用户 */
@font-face {
  /* 给字体起个名字，这个名字之后写到css的font-family里面 */
  font-family: 'myfont';
  /* 字体的下载路径：如果用户的网速不快的话，那么一上来字体没加载完，显示的还是默认字体 */
  /* 可以指定多个url地址，放置用户某个文件格式不支持 */
  src: url('./font/XXXXXXX.ttf') format("truetype"),
    url('./font/XXXXX.woff2') format("woff2");
}

/* 字体都是矢量图，放大不会失真 */

/* 小图标字体：网页中会出现很多小图，他们颜色单一，非常小，这个时候把他们做成一种字体更好，字体是矢量图，大小可以随意改变 */